/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {
    font-family: Arial;
}

main {
    width: 300px;
    margin: 0px auto;
}

h2 {
    font-size: 30px;
}

p {
    line-height: 26px;
}

a {

}

/* Колонки */

.row {
    display: flex;
}
.col {
    flex: auto;
}


/* Потом селекторы по классам */

.text-input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;

    border-color: grey;
    border-radius: 4px;
}

.button {
    background-color: #554af0;
    color: white;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;

    border-radius: 4px;
    border: none;
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {

    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;

    border-color: grey;
    border-radius: 4px;
}


/* Страничка жанров и тегов */

.genre-first, .genre-second, .genre-third, .genre-fourth {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 16px;
}


.genre-first {
    background-color: #E1F5EA;

}

.genre-second {
    background-color: #CBEDFF;
    width: 70%;
}

.genre-third {
    background-color: #EEE5BD;
    width: 40%;
}

.genre-fourth {
    background-color: #EBDCF9;
    width: 30%;
}

.tag {

}

/* Страничка популярного */

.cover {
    width: 150px;

    margin-right: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {
    background-color: #554af0;
    color: white;
    text-decoration: none;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    border: none;
    border-radius: 4px;

    margin-right: 16px;
    margin-bottom: 16px;
}
